dt {
    color: rgb(246, 210, 136);
    line-height: 2em; 
}

.verkefni {
  float: right;
}

.navbar {
  float: right;
  overflow: hidden;
  background-color: rgb(0, 100, 200);
  font-family: Arial;
}

.undirfyiris {
    background-color: rgb(0, 100, 200);
    padding: 10px 10px;
    margin: -10px;
    color: white;
}

.box {
  background-color: #444;
  color: #fff;
  padding: 0px 60px;
  font-size: 100%; 

 }

dd a:link{
    color:white;
    text-decoration: none;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.greinagerd{
  background: linear-gradient(rgb(246, 239, 210), rgb(246, 210, 136));
  height: inherit;
  padding: 20px 60px;
  display:grid;
  grid-template-columns: 50% 50%;
  height: auto; 
}

.botn {
  background-color: rgb(0, 100, 200);
  color: white;
  margin: 0px;
  padding: 20px 60px; 
}

.footer{
  background-color: rgb(0, 100, 200);
  color: #fff;
  padding: 20px 60px;
  font-size: 100%; 
  display:grid;
  grid-template-columns: 33% 33% 33%;
      height: auto;
 }



.header {
    background-color: rgb(0, 100, 200);
     text-transform: uppercase;
      display:flex;
  flex-flow: column;
    
}

body {    
    font-family: 'Open Sans';
}

h1 {
    font-family: 'Open Sans';
}

h4 {
    color: rgb(246, 210, 136);
    font-family: 'Open Sans';
    font-size: 20px;
}
li a:any-link {
    color: white;
    text-decoration: none; 
    line-height: 2em;
    
}

.meginmal {
  background: linear-gradient(rgb(246, 239, 210), rgb(246, 210, 136));
  height: inherit;
  padding: 20px 60px;
}

.meginmal2 {
  background: linear-gradient(rgb(246, 239, 210), rgb(246, 210, 136));
  height: inherit;
  padding: 20px 60px;
}
.meginmal2 > h1{
  text-align: center;
   color: rgb(0, 100, 200); 
}

.meginmal3a {
  background: linear-gradient(rgb(246, 210, 136), rgb(100, 200, 200));
  height: 100vh;
  padding: 20px 60px;
}

.meginmal3b {
  background: linear-gradient(rgb(100, 200, 200), rgb(246, 210, 136));
  height: 100vh;
  padding: 20px 60px;
}

.section { 
    display: grid;
}

blockquote {
    padding: 10px;
    border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}



.navbar a {
  font-size: 16px;
  color: white;
  text-align: left;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar a:hover  {
  background-color: rgb(246, 210, 136);
}




div.fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 3px solid #73AD21;
}

.navbar2 {
    padding: 10px 20px;
    text-align: center;
   background-color: rgb(0, 100, 200);
    border-radius: 6px;
}
.navbar2 a {
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}