.grid1{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.kassi1a{
    display: grid;
    border: 2px solid;
    font-family: times new roman;
    font-size: 1em;
    padding: 10px;
}

.kassi2a{
    display: grid;
    border: 2px solid;
    font-family: sans-serif;
    font-size: 1em;
    padding: 10px;
}

.kassi3a{
    display: grid;
    border: 2px solid;
    font-family: monospace; 
    font-size: 1em;
    padding: 10px;
}

.grid2{
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.kassi1b{
    display: grid;
    border: 2px solid;
    font-family: georgia;
    padding: 10px;
}


.kassi2b{
    display: grid;
    border: 2px solid;
    font-family: trebuchet ms;
    padding: 10px;
}

.kassi3b{
    display: grid;
    border: 2px solid;
    font-family: arial black;
    padding: 10px;
}

.kassi4b{
    display: grid;
    border: 2px solid;
    font-family: palatino;
    padding: 10px;
}

.grid3{
 	display: grid;
	grid-template-columns: 1fr 1fr;
}

.kassi1c{
    display: grid;
    border: 2px solid;
    padding: 10px;
}

.kassi1c > h1{
    font-size: 0.7em;
    line-height: 1.67em;
}

.kassi1c > p{
    font-size: 0.7em;
    line-height: 1.67em;
}

.kassi2c{
    display: grid;
    border: 2px solid;
    padding: 10px;
}

pre {
    display: block;
    font-family: monospace;
    white-space: pre;
    margin: 1em 0;
}

.grid4{
 	display: grid;
	grid-template-columns: 1fr;
}

.kassi1d{
    display: grid;
    background: rgb(223,235, 222);
    padding: 10px;
    text-align: center;
    font-family: impact;
    font-size: 50px;
}
em{
    color: darkred;
}